.wrapper{
  width: 60%;
  margin: auto;
  @media screen and (max-width: 925px) {
   width: 90%;
}
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 17%; 
  background: url("../../../../public/images/banner-image.png");
  background-position: center; 
  background-size: cover; 
  @media screen and (max-width: 615px) {
    height: 13%;
  }
}

.profile {
  height: 23vh;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;

 @media screen and (max-width: 655px) {
  height: 34vh;
}

  .account {
      display: flex;
      gap: 20px;
      align-items: flex-end;
  }

  .profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
  }

  .name {
    font-size: 24px;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    align-items: flex-end;
    gap: 30px;


    button {
      padding: 10px;
      border-radius: 5px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      font-size: 18px;
      cursor: pointer;
      transition: 0.3s;
      border: none;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3); 

      &:hover {
        background-color: #dddddd;
      }
    }
  }

    
    .icon {
      margin: 0 5px 0 0;
      width: 16px;
      height: 16px;
      display: inline-block;
      background-size: cover;
    }
}